:root {
  --brend-color: #2196f3;
  --main-title-color: #212121;
  --second-title-color: #757575;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: var(--brend-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-----Header-----*/

.header-logo {
  font-family: "Raleway", sans-serif;
  color: var(--main-title-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--brend-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--brend-color);
}

/*-----Main-----*/

.basic {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.basic-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.basic-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  position: absolute;
}

.benefits-title {
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.about-title,
.team-title {
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-name {
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  color: var(--main-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/*----Footer-----*/

.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  background: #2f303a;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.footer-address {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-mail:hover,
.footer-tel:hover {
  color: var(--brend-color);
}

.footer-address:focus,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--brend-color);
}

/*-----Portfolio-buttons-----*/

.btn-section {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: #f5f4fa;
  cursor: pointer;
}

.btn-section:hover,
.btn-section:focus {
  color: #ffffff;
  background-color: var(--brend-color);
}

/*-----Projects-portfolio----*/

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.projects-text {
  font-size: 16px;
  line-height: 1, 88;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
